<div class="col-md-6 animate-box">
	<div class="gtco-practice-area-item animate-box">
		<div class="gtco-icon">
			<img src="{{content.field_icon_image.0}}" >
		</div>
		<div class="gtco-copy">
			<h3>{{content.field_title.0}}</h3>
			<p>{{content.field_body.0}}</p>
		</div>
	</div>
</div>	