<section id="gtco-hero" class="gtco-cover" style="background-image: url({{content.field_background_image.0}});"  data-section="home"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeIn">{{content.field_title.0}}</h1>
							<p class="banner-sub animate-box" data-animate-effect="fadeIn">{{content.field_abstract.0}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>