
	<section id="gtco-contact" data-section="contact">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>{{content.field_title.0}}</h1>
					<p class="sub">{{content.field_abstract.0}}</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">{{content.field_title.0}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">
					{{content.field_contact_form.0}}
				</div>
				<div class="col-md-4 col-md-pull-6 animate-box">
					<div class="gtco-contact-info">
						<ul>
							<li class="address">{{content.field_address.0}}</li>
							<li class="phone">{{content.field_contact_number.0}}</li>
							<li class="email"><a href="mailto:{{content.field_email.0}}">{{content.field_email.0}}</a></li>
							<li class="url">{{content.field_website.0}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>