<section id="gtco-about" data-section="about">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>{{content.field_section_title.0}}</h1>
					<p class="sub">{{content.field_abstract.0}}</p>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
					<div class="img-shadow">
						<img src="{{content.field_background_image.0}}" class="img-responsive" >
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2 class="heading-colored">{{content.field_title.0}}</h2>
					<p>{{content.field_body.0}}</p>
					
				</div>
			</div>
		</div>
	</section>