<div class="col-md-6 col-lg-3 animate-box">
	<div class="thumbnail">
		<a href="{{content.field_background_image.0}}" target="_blank">
		<img src="{{content.field_background_image.0}}" alt="" class="img-responsive">
		<div class="caption team__caption">
		  <h4 class="team__name">{{content.field_title.0}}</h4>
		  <p class="team__title">{{content.field_position.0}}</p>
		</div>
		</a>
	</div>
</div>