<section id="gtco-practice-areas" data-section="practice areas">
		<div class="container ">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>{{content.field_title.0}}</h1>
					<p class="sub">{{content.field_abstract.0}}</p>
					
				</div>
			</div>
			<div class="row animate-box">
				
					{{content.field_services}}

				
			</div>
		</div>
	</section>