	<section id="gtco-our-team" data-section="our team" class="team">
          <div class="page-section text-center heading animate-box fadeIn animated-fast">
            <h1>{{content.field_title.0}}</h1>
            <p class="sub">{{content.field_abstract.0}}</p>
            <div class="">
              {{content.field_team_members}}
              
            </div>
          </div>
        </section>